/* @media screen and (max-width: 600px){
    .image1{
        height: 30% !important;
        width: 40% !important;
    }
    .image2{
        height: 30% !important;
        width: 40% !important;
        margin-left: 15% !important;
    }
} */